@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(../fonts/MullerLight.woff) format('woff'),
    url(../fonts/MullerLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/MullerRegular.woff) format('woff'),
    url(../fonts/MullerRegular.woff2) format('woff2');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(../fonts/MullerMedium.woff) format('woff'),
    url(../fonts/MullerMedium.woff2) format('woff2');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/MullerBold.woff) format('woff'),
    url(../fonts/MullerBold.woff2) format('woff2');
}